# Directorios de caché y bytecode de Python
__pycache__/
*.pyc

# Excluir entornos virtuales
venv/

# Excluir archivos de configuración específicos de Twilio
twilio_config.py 
exports.md
.env

# Excluir archivos de Jupyter
.ipynb_checkpoints/

# Archivos de configuración y secretos de entorno
.env
